#early-birld-svg-wrapper{
  width: 320px;
  height: 320px;
  margin: 0 auto;
  > svg{
    overflow: visible;
  }
}

.path-note{
  // -webkit-transition: opacity 0.3s;
  // -moz-transition: opacity 0.3s;
  // -ms-transition: opacity 0.3s;
  // -o-transition: opacity 0.3s;
  // transition: opacity 0.3s;
}
