{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": ["> 0.1%", "last 7 versions", "not ie < 9"]
            }
        }]
    ]
}
