<!DOCTYPE html>
<html>
<head>
    <title><%= title%></title>
</head>
<body>
  <div class="main" style="height: 100%;">
    <div class="" id="shape-box">

    </div>

  </div>
		<script type="text/javascript" src="common"></script>
    <!-- SCRIPT -->
  </body>
</html>
